<div class="start-screen" *ngIf="!start">
  <div class="start-button" (click)="onStart()">Start</div>
</div>
<div class="container" *ngIf="start && !read">
  <div class="incontainer">
    <div class="alert alert-warning w-45" style="text-align: center">
      <span><strong>Please Read following instructions carefully before answering..</strong></span>
    </div>
    <div class="alert alert-info" style="width: 40rem">
      <span>There is a time limit of 5 min for 5 questions</span>
    </div>
    <br />
    <div class="alert alert-info" style="width: 40rem">
      <span>You cannot revisit the question</span>
    </div>
    <br />
    <div class="alert alert-info" style="width: 40rem">
      <span>There are no negative marks for wrong answers</span>
    </div>
    <br />
    <div class="alert alert-info" style="width: 40rem">
      <span>Answer all the questions</span>
    </div>
    <div class="bcontainer">
      <button
        class="btn btn-primary"
        (click)="onReadInstructions()"
        id="proceed"
      >
        Proceed
      </button>
    </div>
  </div>
</div>
<div class="quiz_box" *ngIf="read">
  <app-section [topic]="topic"></app-section>
</div>